ferda/lib/dtd/svg11-tiny.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by n g (p7) -->
<!--DTD generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<!ELEMENT a (#PCDATA | desc | title | metadata | animate | set | animateMotion | animateColor | animateTransform | g | defs | use | switch | image | path | rect | circle | line | ellipse | polyline | polygon | text | a | font | font-face)*>
<!ATTLIST a
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	text-anchor (start | middle | end | inherit) #IMPLIED
	font-family CDATA #IMPLIED
	font-size CDATA #IMPLIED
	font-style (normal | italic | oblique | inherit) #IMPLIED
	font-weight (normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900 | inherit) #IMPLIED
	fill CDATA #IMPLIED
	fill-rule (nonzero | evenodd | inherit) #IMPLIED
	stroke CDATA #IMPLIED
	stroke-dasharray CDATA #IMPLIED
	stroke-dashoffset CDATA #IMPLIED
	stroke-linecap (butt | round | square | inherit) #IMPLIED
	stroke-linejoin (miter | round | bevel | inherit) #IMPLIED
	stroke-miterlimit CDATA #IMPLIED
	stroke-width CDATA #IMPLIED
	color CDATA #IMPLIED
	color-rendering (auto | optimizeSpeed | optimizeQuality | inherit) #IMPLIED
	display (inline | block | list-item | run-in | compact | marker | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | none | inherit) #IMPLIED
	visibility (visible | hidden | inherit) #IMPLIED
	flood-color CDATA #IMPLIED
	flood-opacity CDATA #IMPLIED
	lighting-color CDATA #IMPLIED
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	xlink:type (simple) #FIXED "simple"
	xlink:href CDATA #REQUIRED
	xlink:role CDATA #IMPLIED
	xlink:arcrole CDATA #IMPLIED
	xlink:title CDATA #IMPLIED
	xlink:show (new | replace) "replace"
	xlink:actuate (onRequest) #FIXED "onRequest"
	externalResourcesRequired (false | true) #IMPLIED
	transform CDATA #IMPLIED
	target NMTOKEN #IMPLIED
>
<!ELEMENT animate (desc | title | metadata)*>
<!ATTLIST animate
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	xlink:type (simple) #FIXED "simple"
	xlink:href CDATA #IMPLIED
	xlink:role CDATA #IMPLIED
	xlink:arcrole CDATA #IMPLIED
	xlink:title CDATA #IMPLIED
	xlink:show (other) "other"
	xlink:actuate (onLoad) #FIXED "onLoad"
	attributeName CDATA #REQUIRED
	attributeType CDATA #IMPLIED
	begin CDATA #IMPLIED
	dur CDATA #IMPLIED
	end CDATA #IMPLIED
	min CDATA #IMPLIED
	max CDATA #IMPLIED
	restart (always | never | whenNotActive) "always"
	repeatCount CDATA #IMPLIED
	repeatDur CDATA #IMPLIED
	fill (remove | freeze) "remove"
	calcMode (discrete | linear | paced | spline) "linear"
	values CDATA #IMPLIED
	keyTimes CDATA #IMPLIED
	keySplines CDATA #IMPLIED
	from CDATA #IMPLIED
	to CDATA #IMPLIED
	by CDATA #IMPLIED
	additive (replace | sum) "replace"
	accumulate (none | sum) "none"
>
<!ELEMENT animateColor (desc | title | metadata)*>
<!ATTLIST animateColor
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	xlink:type (simple) #FIXED "simple"
	xlink:href CDATA #IMPLIED
	xlink:role CDATA #IMPLIED
	xlink:arcrole CDATA #IMPLIED
	xlink:title CDATA #IMPLIED
	xlink:show (other) "other"
	xlink:actuate (onLoad) #FIXED "onLoad"
	attributeName CDATA #REQUIRED
	attributeType CDATA #IMPLIED
	begin CDATA #IMPLIED
	dur CDATA #IMPLIED
	end CDATA #IMPLIED
	min CDATA #IMPLIED
	max CDATA #IMPLIED
	restart (always | never | whenNotActive) "always"
	repeatCount CDATA #IMPLIED
	repeatDur CDATA #IMPLIED
	fill (remove | freeze) "remove"
	calcMode (discrete | linear | paced | spline) "linear"
	values CDATA #IMPLIED
	keyTimes CDATA #IMPLIED
	keySplines CDATA #IMPLIED
	from CDATA #IMPLIED
	to CDATA #IMPLIED
	by CDATA #IMPLIED
	additive (replace | sum) "replace"
	accumulate (none | sum) "none"
>
<!ELEMENT animateMotion ((desc | title | metadata)*, mpath?)>
<!ATTLIST animateMotion
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	xlink:type (simple) #FIXED "simple"
	xlink:href CDATA #IMPLIED
	xlink:role CDATA #IMPLIED
	xlink:arcrole CDATA #IMPLIED
	xlink:title CDATA #IMPLIED
	xlink:show (other) "other"
	xlink:actuate (onLoad) #FIXED "onLoad"
	begin CDATA #IMPLIED
	dur CDATA #IMPLIED
	end CDATA #IMPLIED
	min CDATA #IMPLIED
	max CDATA #IMPLIED
	restart (always | never | whenNotActive) "always"
	repeatCount CDATA #IMPLIED
	repeatDur CDATA #IMPLIED
	fill (remove | freeze) "remove"
	additive (replace | sum) "replace"
	accumulate (none | sum) "none"
	calcMode (discrete | linear | paced | spline) "paced"
	values CDATA #IMPLIED
	keyTimes CDATA #IMPLIED
	keySplines CDATA #IMPLIED
	from CDATA #IMPLIED
	to CDATA #IMPLIED
	by CDATA #IMPLIED
	path CDATA #IMPLIED
	keyPoints CDATA #IMPLIED
	rotate CDATA #IMPLIED
	origin CDATA #IMPLIED
>
<!ELEMENT animateTransform (desc | title | metadata)*>
<!ATTLIST animateTransform
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	xlink:type (simple) #FIXED "simple"
	xlink:href CDATA #IMPLIED
	xlink:role CDATA #IMPLIED
	xlink:arcrole CDATA #IMPLIED
	xlink:title CDATA #IMPLIED
	xlink:show (other) "other"
	xlink:actuate (onLoad) #FIXED "onLoad"
	attributeName CDATA #REQUIRED
	attributeType CDATA #IMPLIED
	begin CDATA #IMPLIED
	dur CDATA #IMPLIED
	end CDATA #IMPLIED
	min CDATA #IMPLIED
	max CDATA #IMPLIED
	restart (always | never | whenNotActive) "always"
	repeatCount CDATA #IMPLIED
	repeatDur CDATA #IMPLIED
	fill (remove | freeze) "remove"
	calcMode (discrete | linear | paced | spline) "linear"
	values CDATA #IMPLIED
	keyTimes CDATA #IMPLIED
	keySplines CDATA #IMPLIED
	from CDATA #IMPLIED
	to CDATA #IMPLIED
	by CDATA #IMPLIED
	additive (replace | sum) "replace"
	accumulate (none | sum) "none"
	type (translate | scale | rotate | skewX | skewY) "translate"
>
<!ELEMENT circle ((desc | title | metadata)*, (animate | set | animateMotion | animateColor | animateTransform)*)>
<!ATTLIST circle
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	fill CDATA #IMPLIED
	fill-rule (nonzero | evenodd | inherit) #IMPLIED
	stroke CDATA #IMPLIED
	stroke-dasharray CDATA #IMPLIED
	stroke-dashoffset CDATA #IMPLIED
	stroke-linecap (butt | round | square | inherit) #IMPLIED
	stroke-linejoin (miter | round | bevel | inherit) #IMPLIED
	stroke-miterlimit CDATA #IMPLIED
	stroke-width CDATA #IMPLIED
	color CDATA #IMPLIED
	color-rendering (auto | optimizeSpeed | optimizeQuality | inherit) #IMPLIED
	display (inline | block | list-item | run-in | compact | marker | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | none | inherit) #IMPLIED
	visibility (visible | hidden | inherit) #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	cx CDATA #IMPLIED
	cy CDATA #IMPLIED
	r CDATA #REQUIRED
	transform CDATA #IMPLIED
>
<!ELEMENT defs (desc | title | metadata | animate | set | animateMotion | animateColor | animateTransform | g | defs | use | switch | image | path | rect | circle | line | ellipse | polyline | polygon | text | a | font | font-face)*>
<!ATTLIST defs
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	text-anchor (start | middle | end | inherit) #IMPLIED
	font-family CDATA #IMPLIED
	font-size CDATA #IMPLIED
	font-style (normal | italic | oblique | inherit) #IMPLIED
	font-weight (normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900 | inherit) #IMPLIED
	fill CDATA #IMPLIED
	fill-rule (nonzero | evenodd | inherit) #IMPLIED
	stroke CDATA #IMPLIED
	stroke-dasharray CDATA #IMPLIED
	stroke-dashoffset CDATA #IMPLIED
	stroke-linecap (butt | round | square | inherit) #IMPLIED
	stroke-linejoin (miter | round | bevel | inherit) #IMPLIED
	stroke-miterlimit CDATA #IMPLIED
	stroke-width CDATA #IMPLIED
	color CDATA #IMPLIED
	color-rendering (auto | optimizeSpeed | optimizeQuality | inherit) #IMPLIED
	display (inline | block | list-item | run-in | compact | marker | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | none | inherit) #IMPLIED
	visibility (visible | hidden | inherit) #IMPLIED
	flood-color CDATA #IMPLIED
	flood-opacity CDATA #IMPLIED
	lighting-color CDATA #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	transform CDATA #IMPLIED
>
<!ELEMENT desc (#PCDATA)>
<!ATTLIST desc
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
>
<!ELEMENT ellipse ((desc | title | metadata)*, (animate | set | animateMotion | animateColor | animateTransform)*)>
<!ATTLIST ellipse
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	fill CDATA #IMPLIED
	fill-rule (nonzero | evenodd | inherit) #IMPLIED
	stroke CDATA #IMPLIED
	stroke-dasharray CDATA #IMPLIED
	stroke-dashoffset CDATA #IMPLIED
	stroke-linecap (butt | round | square | inherit) #IMPLIED
	stroke-linejoin (miter | round | bevel | inherit) #IMPLIED
	stroke-miterlimit CDATA #IMPLIED
	stroke-width CDATA #IMPLIED
	color CDATA #IMPLIED
	color-rendering (auto | optimizeSpeed | optimizeQuality | inherit) #IMPLIED
	display (inline | block | list-item | run-in | compact | marker | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | none | inherit) #IMPLIED
	visibility (visible | hidden | inherit) #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	cx CDATA #IMPLIED
	cy CDATA #IMPLIED
	rx CDATA #REQUIRED
	ry CDATA #REQUIRED
	transform CDATA #IMPLIED
>
<!ELEMENT font ((desc | title | metadata)*, font-face, missing-glyph, (glyph | hkern)*)>
<!ATTLIST font
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	horiz-origin-x CDATA #IMPLIED
	horiz-adv-x CDATA #REQUIRED
>
<!ELEMENT font-face ((desc | title | metadata)*, font-face-src?)>
<!ATTLIST font-face
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	font-family CDATA #IMPLIED
	font-style CDATA #IMPLIED
	font-variant CDATA #IMPLIED
	font-weight CDATA #IMPLIED
	font-stretch CDATA #IMPLIED
	font-size CDATA #IMPLIED
	unicode-range CDATA #IMPLIED
	units-per-em CDATA #IMPLIED
	panose-1 CDATA #IMPLIED
	stemv CDATA #IMPLIED
	stemh CDATA #IMPLIED
	slope CDATA #IMPLIED
	cap-height CDATA #IMPLIED
	x-height CDATA #IMPLIED
	accent-height CDATA #IMPLIED
	ascent CDATA #IMPLIED
	descent CDATA #IMPLIED
	widths CDATA #IMPLIED
	bbox CDATA #IMPLIED
	ideographic CDATA #IMPLIED
	alphabetic CDATA #IMPLIED
	mathematical CDATA #IMPLIED
	hanging CDATA #IMPLIED
	underline-position CDATA #IMPLIED
	underline-thickness CDATA #IMPLIED
	strikethrough-position CDATA #IMPLIED
	strikethrough-thickness CDATA #IMPLIED
	overline-position CDATA #IMPLIED
	overline-thickness CDATA #IMPLIED
>
<!ELEMENT font-face-name EMPTY>
<!ATTLIST font-face-name
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT font-face-src (font-face-name)+>
<!ATTLIST font-face-src
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
>
<!ELEMENT foreignObject (#PCDATA)>
<!ATTLIST foreignObject
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	text-anchor (start | middle | end | inherit) #IMPLIED
	font-family CDATA #IMPLIED
	font-size CDATA #IMPLIED
	font-style (normal | italic | oblique | inherit) #IMPLIED
	font-weight (normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900 | inherit) #IMPLIED
	fill CDATA #IMPLIED
	fill-rule (nonzero | evenodd | inherit) #IMPLIED
	stroke CDATA #IMPLIED
	stroke-dasharray CDATA #IMPLIED
	stroke-dashoffset CDATA #IMPLIED
	stroke-linecap (butt | round | square | inherit) #IMPLIED
	stroke-linejoin (miter | round | bevel | inherit) #IMPLIED
	stroke-miterlimit CDATA #IMPLIED
	stroke-width CDATA #IMPLIED
	color CDATA #IMPLIED
	color-rendering (auto | optimizeSpeed | optimizeQuality | inherit) #IMPLIED
	display (inline | block | list-item | run-in | compact | marker | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | none | inherit) #IMPLIED
	visibility (visible | hidden | inherit) #IMPLIED
	flood-color CDATA #IMPLIED
	flood-opacity CDATA #IMPLIED
	lighting-color CDATA #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	x CDATA #IMPLIED
	y CDATA #IMPLIED
	width CDATA #REQUIRED
	height CDATA #REQUIRED
	transform CDATA #IMPLIED
>
<!ELEMENT g (desc | title | metadata | animate | set | animateMotion | animateColor | animateTransform | g | defs | use | switch | image | path | rect | circle | line | ellipse | polyline | polygon | text | a | font | font-face)*>
<!ATTLIST g
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	text-anchor (start | middle | end | inherit) #IMPLIED
	font-family CDATA #IMPLIED
	font-size CDATA #IMPLIED
	font-style (normal | italic | oblique | inherit) #IMPLIED
	font-weight (normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900 | inherit) #IMPLIED
	fill CDATA #IMPLIED
	fill-rule (nonzero | evenodd | inherit) #IMPLIED
	stroke CDATA #IMPLIED
	stroke-dasharray CDATA #IMPLIED
	stroke-dashoffset CDATA #IMPLIED
	stroke-linecap (butt | round | square | inherit) #IMPLIED
	stroke-linejoin (miter | round | bevel | inherit) #IMPLIED
	stroke-miterlimit CDATA #IMPLIED
	stroke-width CDATA #IMPLIED
	color CDATA #IMPLIED
	color-rendering (auto | optimizeSpeed | optimizeQuality | inherit) #IMPLIED
	display (inline | block | list-item | run-in | compact | marker | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | none | inherit) #IMPLIED
	visibility (visible | hidden | inherit) #IMPLIED
	flood-color CDATA #IMPLIED
	flood-opacity CDATA #IMPLIED
	lighting-color CDATA #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	transform CDATA #IMPLIED
>
<!ELEMENT glyph (desc | title | metadata)*>
<!ATTLIST glyph
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	unicode CDATA #IMPLIED
	glyph-name CDATA #IMPLIED
	d CDATA #IMPLIED
	arabic-form CDATA #IMPLIED
	lang CDATA #IMPLIED
	horiz-adv-x CDATA #IMPLIED
>
<!ELEMENT hkern EMPTY>
<!ATTLIST hkern
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	u1 CDATA #IMPLIED
	g1 CDATA #IMPLIED
	u2 CDATA #IMPLIED
	g2 CDATA #IMPLIED
	k CDATA #REQUIRED
>
<!ELEMENT image ((desc | title | metadata)*, (animate | set | animateMotion | animateColor | animateTransform)*)>
<!ATTLIST image
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	color CDATA #IMPLIED
	color-rendering (auto | optimizeSpeed | optimizeQuality | inherit) #IMPLIED
	display (inline | block | list-item | run-in | compact | marker | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | none | inherit) #IMPLIED
	visibility (visible | hidden | inherit) #IMPLIED
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	xlink:type (simple) #FIXED "simple"
	xlink:href CDATA #REQUIRED
	xlink:role CDATA #IMPLIED
	xlink:arcrole CDATA #IMPLIED
	xlink:title CDATA #IMPLIED
	xlink:show (embed) "embed"
	xlink:actuate (onLoad) #FIXED "onLoad"
	externalResourcesRequired (false | true) #IMPLIED
	x CDATA #IMPLIED
	y CDATA #IMPLIED
	width CDATA #REQUIRED
	height CDATA #REQUIRED
	preserveAspectRatio CDATA "xMidYMid meet"
	transform CDATA #IMPLIED
>
<!ELEMENT line ((desc | title | metadata)*, (animate | set | animateMotion | animateColor | animateTransform)*)>
<!ATTLIST line
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	fill CDATA #IMPLIED
	fill-rule (nonzero | evenodd | inherit) #IMPLIED
	stroke CDATA #IMPLIED
	stroke-dasharray CDATA #IMPLIED
	stroke-dashoffset CDATA #IMPLIED
	stroke-linecap (butt | round | square | inherit) #IMPLIED
	stroke-linejoin (miter | round | bevel | inherit) #IMPLIED
	stroke-miterlimit CDATA #IMPLIED
	stroke-width CDATA #IMPLIED
	color CDATA #IMPLIED
	color-rendering (auto | optimizeSpeed | optimizeQuality | inherit) #IMPLIED
	display (inline | block | list-item | run-in | compact | marker | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | none | inherit) #IMPLIED
	visibility (visible | hidden | inherit) #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	x1 CDATA #IMPLIED
	y1 CDATA #IMPLIED
	x2 CDATA #IMPLIED
	y2 CDATA #IMPLIED
	transform CDATA #IMPLIED
>
<!ELEMENT metadata (#PCDATA)>
<!ATTLIST metadata
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
>
<!ELEMENT missing-glyph (desc | title | metadata)*>
<!ATTLIST missing-glyph
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	d CDATA #IMPLIED
	horiz-adv-x CDATA #IMPLIED
>
<!ELEMENT mpath (desc | title | metadata)*>
<!ATTLIST mpath
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	xlink:type (simple) #FIXED "simple"
	xlink:href CDATA #REQUIRED
	xlink:role CDATA #IMPLIED
	xlink:arcrole CDATA #IMPLIED
	xlink:title CDATA #IMPLIED
	xlink:show (other) "other"
	xlink:actuate (onLoad) #FIXED "onLoad"
	externalResourcesRequired (false | true) #IMPLIED
>
<!ELEMENT path ((desc | title | metadata)*, (animate | set | animateMotion | animateColor | animateTransform)*)>
<!ATTLIST path
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	fill CDATA #IMPLIED
	fill-rule (nonzero | evenodd | inherit) #IMPLIED
	stroke CDATA #IMPLIED
	stroke-dasharray CDATA #IMPLIED
	stroke-dashoffset CDATA #IMPLIED
	stroke-linecap (butt | round | square | inherit) #IMPLIED
	stroke-linejoin (miter | round | bevel | inherit) #IMPLIED
	stroke-miterlimit CDATA #IMPLIED
	stroke-width CDATA #IMPLIED
	color CDATA #IMPLIED
	color-rendering (auto | optimizeSpeed | optimizeQuality | inherit) #IMPLIED
	display (inline | block | list-item | run-in | compact | marker | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | none | inherit) #IMPLIED
	visibility (visible | hidden | inherit) #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	d CDATA #REQUIRED
	pathLength CDATA #IMPLIED
	transform CDATA #IMPLIED
>
<!ELEMENT polygon ((desc | title | metadata)*, (animate | set | animateMotion | animateColor | animateTransform)*)>
<!ATTLIST polygon
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	fill CDATA #IMPLIED
	fill-rule (nonzero | evenodd | inherit) #IMPLIED
	stroke CDATA #IMPLIED
	stroke-dasharray CDATA #IMPLIED
	stroke-dashoffset CDATA #IMPLIED
	stroke-linecap (butt | round | square | inherit) #IMPLIED
	stroke-linejoin (miter | round | bevel | inherit) #IMPLIED
	stroke-miterlimit CDATA #IMPLIED
	stroke-width CDATA #IMPLIED
	color CDATA #IMPLIED
	color-rendering (auto | optimizeSpeed | optimizeQuality | inherit) #IMPLIED
	display (inline | block | list-item | run-in | compact | marker | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | none | inherit) #IMPLIED
	visibility (visible | hidden | inherit) #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	points CDATA #REQUIRED
	transform CDATA #IMPLIED
>
<!ELEMENT polyline ((desc | title | metadata)*, (animate | set | animateMotion | animateColor | animateTransform)*)>
<!ATTLIST polyline
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	fill CDATA #IMPLIED
	fill-rule (nonzero | evenodd | inherit) #IMPLIED
	stroke CDATA #IMPLIED
	stroke-dasharray CDATA #IMPLIED
	stroke-dashoffset CDATA #IMPLIED
	stroke-linecap (butt | round | square | inherit) #IMPLIED
	stroke-linejoin (miter | round | bevel | inherit) #IMPLIED
	stroke-miterlimit CDATA #IMPLIED
	stroke-width CDATA #IMPLIED
	color CDATA #IMPLIED
	color-rendering (auto | optimizeSpeed | optimizeQuality | inherit) #IMPLIED
	display (inline | block | list-item | run-in | compact | marker | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | none | inherit) #IMPLIED
	visibility (visible | hidden | inherit) #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	points CDATA #REQUIRED
	transform CDATA #IMPLIED
>
<!ELEMENT rect ((desc | title | metadata)*, (animate | set | animateMotion | animateColor | animateTransform)*)>
<!ATTLIST rect
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	fill CDATA #IMPLIED
	fill-rule (nonzero | evenodd | inherit) #IMPLIED
	stroke CDATA #IMPLIED
	stroke-dasharray CDATA #IMPLIED
	stroke-dashoffset CDATA #IMPLIED
	stroke-linecap (butt | round | square | inherit) #IMPLIED
	stroke-linejoin (miter | round | bevel | inherit) #IMPLIED
	stroke-miterlimit CDATA #IMPLIED
	stroke-width CDATA #IMPLIED
	color CDATA #IMPLIED
	color-rendering (auto | optimizeSpeed | optimizeQuality | inherit) #IMPLIED
	display (inline | block | list-item | run-in | compact | marker | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | none | inherit) #IMPLIED
	visibility (visible | hidden | inherit) #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	x CDATA #IMPLIED
	y CDATA #IMPLIED
	width CDATA #REQUIRED
	height CDATA #REQUIRED
	rx CDATA #IMPLIED
	ry CDATA #IMPLIED
	transform CDATA #IMPLIED
>
<!ELEMENT set (desc | title | metadata)*>
<!ATTLIST set
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	xlink:type (simple) #FIXED "simple"
	xlink:href CDATA #IMPLIED
	xlink:role CDATA #IMPLIED
	xlink:arcrole CDATA #IMPLIED
	xlink:title CDATA #IMPLIED
	xlink:show (other) "other"
	xlink:actuate (onLoad) #FIXED "onLoad"
	attributeName CDATA #REQUIRED
	attributeType CDATA #IMPLIED
	begin CDATA #IMPLIED
	dur CDATA #IMPLIED
	end CDATA #IMPLIED
	min CDATA #IMPLIED
	max CDATA #IMPLIED
	restart (always | never | whenNotActive) "always"
	repeatCount CDATA #IMPLIED
	repeatDur CDATA #IMPLIED
	fill (remove | freeze) "remove"
	to CDATA #IMPLIED
>
<!ELEMENT svg (desc | title | metadata | animate | set | animateMotion | animateColor | animateTransform | g | defs | use | switch | image | path | rect | circle | line | ellipse | polyline | polygon | text | a | font | font-face)*>
<!ATTLIST svg
	xmlns CDATA #FIXED "http://www.w3.org/2000/svg"
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	text-anchor (start | middle | end | inherit) #IMPLIED
	font-family CDATA #IMPLIED
	font-size CDATA #IMPLIED
	font-style (normal | italic | oblique | inherit) #IMPLIED
	font-weight (normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900 | inherit) #IMPLIED
	fill CDATA #IMPLIED
	fill-rule (nonzero | evenodd | inherit) #IMPLIED
	stroke CDATA #IMPLIED
	stroke-dasharray CDATA #IMPLIED
	stroke-dashoffset CDATA #IMPLIED
	stroke-linecap (butt | round | square | inherit) #IMPLIED
	stroke-linejoin (miter | round | bevel | inherit) #IMPLIED
	stroke-miterlimit CDATA #IMPLIED
	stroke-width CDATA #IMPLIED
	color CDATA #IMPLIED
	color-rendering (auto | optimizeSpeed | optimizeQuality | inherit) #IMPLIED
	display (inline | block | list-item | run-in | compact | marker | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | none | inherit) #IMPLIED
	visibility (visible | hidden | inherit) #IMPLIED
	flood-color CDATA #IMPLIED
	flood-opacity CDATA #IMPLIED
	lighting-color CDATA #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	x CDATA #IMPLIED
	y CDATA #IMPLIED
	width CDATA #IMPLIED
	height CDATA #IMPLIED
	viewBox CDATA #IMPLIED
	preserveAspectRatio CDATA "xMidYMid meet"
	zoomAndPan (disable | magnify) "magnify"
	version CDATA #FIXED "1.1"
	baseProfile CDATA #IMPLIED
>
<!ELEMENT switch ((desc | title | metadata)*, (svg | g | use | text | animate | set | animateMotion | animateColor | animateTransform | switch | image | path | rect | circle | line | ellipse | polyline | polygon | a | foreignObject)*)>
<!ATTLIST switch
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	text-anchor (start | middle | end | inherit) #IMPLIED
	font-family CDATA #IMPLIED
	font-size CDATA #IMPLIED
	font-style (normal | italic | oblique | inherit) #IMPLIED
	font-weight (normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900 | inherit) #IMPLIED
	fill CDATA #IMPLIED
	fill-rule (nonzero | evenodd | inherit) #IMPLIED
	stroke CDATA #IMPLIED
	stroke-dasharray CDATA #IMPLIED
	stroke-dashoffset CDATA #IMPLIED
	stroke-linecap (butt | round | square | inherit) #IMPLIED
	stroke-linejoin (miter | round | bevel | inherit) #IMPLIED
	stroke-miterlimit CDATA #IMPLIED
	stroke-width CDATA #IMPLIED
	color CDATA #IMPLIED
	color-rendering (auto | optimizeSpeed | optimizeQuality | inherit) #IMPLIED
	display (inline | block | list-item | run-in | compact | marker | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | none | inherit) #IMPLIED
	visibility (visible | hidden | inherit) #IMPLIED
	flood-color CDATA #IMPLIED
	flood-opacity CDATA #IMPLIED
	lighting-color CDATA #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	transform CDATA #IMPLIED
>
<!ELEMENT text (#PCDATA | desc | title | metadata | animate | set | animateMotion | animateColor | animateTransform | a)*>
<!ATTLIST text
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	text-anchor (start | middle | end | inherit) #IMPLIED
	font-family CDATA #IMPLIED
	font-size CDATA #IMPLIED
	font-style (normal | italic | oblique | inherit) #IMPLIED
	font-weight (normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900 | inherit) #IMPLIED
	fill CDATA #IMPLIED
	fill-rule (nonzero | evenodd | inherit) #IMPLIED
	stroke CDATA #IMPLIED
	stroke-dasharray CDATA #IMPLIED
	stroke-dashoffset CDATA #IMPLIED
	stroke-linecap (butt | round | square | inherit) #IMPLIED
	stroke-linejoin (miter | round | bevel | inherit) #IMPLIED
	stroke-miterlimit CDATA #IMPLIED
	stroke-width CDATA #IMPLIED
	color CDATA #IMPLIED
	color-rendering (auto | optimizeSpeed | optimizeQuality | inherit) #IMPLIED
	display (inline | block | list-item | run-in | compact | marker | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | none | inherit) #IMPLIED
	visibility (visible | hidden | inherit) #IMPLIED
	externalResourcesRequired (false | true) #IMPLIED
	x CDATA #IMPLIED
	y CDATA #IMPLIED
	rotate CDATA #IMPLIED
	transform CDATA #IMPLIED
>
<!ELEMENT title (#PCDATA)>
<!ATTLIST title
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
>
<!ELEMENT use ((desc | title | metadata)*, (animate | set | animateMotion | animateColor | animateTransform)*)>
<!ATTLIST use
	id ID #IMPLIED
	xml:base CDATA #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	requiredFeatures CDATA #IMPLIED
	requiredExtensions CDATA #IMPLIED
	systemLanguage CDATA #IMPLIED
	text-anchor (start | middle | end | inherit) #IMPLIED
	font-family CDATA #IMPLIED
	font-size CDATA #IMPLIED
	font-style (normal | italic | oblique | inherit) #IMPLIED
	font-weight (normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900 | inherit) #IMPLIED
	fill CDATA #IMPLIED
	fill-rule (nonzero | evenodd | inherit) #IMPLIED
	stroke CDATA #IMPLIED
	stroke-dasharray CDATA #IMPLIED
	stroke-dashoffset CDATA #IMPLIED
	stroke-linecap (butt | round | square | inherit) #IMPLIED
	stroke-linejoin (miter | round | bevel | inherit) #IMPLIED
	stroke-miterlimit CDATA #IMPLIED
	stroke-width CDATA #IMPLIED
	color CDATA #IMPLIED
	color-rendering (auto | optimizeSpeed | optimizeQuality | inherit) #IMPLIED
	display (inline | block | list-item | run-in | compact | marker | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | none | inherit) #IMPLIED
	visibility (visible | hidden | inherit) #IMPLIED
	flood-color CDATA #IMPLIED
	flood-opacity CDATA #IMPLIED
	lighting-color CDATA #IMPLIED
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	xlink:type (simple) #FIXED "simple"
	xlink:href CDATA #REQUIRED
	xlink:role CDATA #IMPLIED
	xlink:arcrole CDATA #IMPLIED
	xlink:title CDATA #IMPLIED
	xlink:show (embed) "embed"
	xlink:actuate (onLoad) #FIXED "onLoad"
	externalResourcesRequired (false | true) #IMPLIED
	x CDATA #IMPLIED
	y CDATA #IMPLIED
	width CDATA #IMPLIED
	height CDATA #IMPLIED
	transform CDATA #IMPLIED
>
