ferda/src/Modules/Core/Boxes/boxesLocalization.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by Tomas Kuchar (Ru-Board) -->
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ferda.is-a-geek.net" targetNamespace="http://ferda.is-a-geek.net" elementFormDefault="qualified">
	<xs:element name="BoxLocalization">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Identifier">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="Label"/>
				<xs:element ref="Hint"/>
				<xs:element name="Categories">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Category" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="DynamicHelpItems" minOccurs="0"/>
				<xs:element name="Actions" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Action" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="Name"/>
										<xs:element ref="Label"/>
										<xs:element ref="Hint"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Sockets" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Socket" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="Name"/>
										<xs:element ref="Label"/>
										<xs:element ref="Hint"/>
										<xs:element name="SelectOptions" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="SelectOption" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PropertyCategories" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PropertyCategory" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="Name"/>
										<xs:element ref="Label"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ModulesAskingForCreationSeq" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ModulesAskingForCreation" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="Name"/>
										<xs:element ref="Label"/>
										<xs:element ref="Hint"/>
										<xs:element ref="DynamicHelpItems" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="HelpFiles" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="HelpFile" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Identifier">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element ref="Label"/>
										<xs:element name="Version" type="xs:integer"/>
										<xs:element name="Path">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Phrases" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Phrase" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PhraseIdentifier">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PhraseText">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Category">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="Label"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Hint">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShortLabel">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Label">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SelectOption">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="Label"/>
				<xs:element ref="ShortLabel" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BoxesLocalization">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BoxLocalization" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DynamicHelpItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Identifer">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="Label"/>
				<xs:element name="Url">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DynamicHelpItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DynamicHelpItem" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Url">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="url://anywhere"/>
				<xs:enumeration value="url://something.somewhere"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
